<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag 'f-icon.png' %>
	<title>eFlip</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<!-- 
  	<p class="notice"><%= notice %></p>
  	<p class="alert"><%= alert %></p> 
	-->
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
  <%= render "shared/messages" %> 
<%= yield %>
</div>

</body>
</html>
